@media screen and (max-width: 800px) {
    .top .nav {
        width: fit-content;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100vh - 30px - var(--triangle-height) * 1);
        height: 50px;
        line-height: 50px;
    }
    .top .nav a {
        display: inline-block;
        width: 100px;
        padding: 0;
        text-align: left;
        padding-right: 0;
        padding-left: 40px;
    }
    .top .nav a:first-child {
        text-align: right;
        padding-left: 0;
        padding-right: 40px;
    }
    .top .text {
        width: calc(100vw - 120px);
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .about h2 {
        line-height: 50px;
    }
    .about p {
        width: calc(100vw - 60px);
    }
    .projects .text {
        width: calc(100vw - 60px);
        padding: calc(var(--triangle-height) + 60px) 30px;
    }
    .projects .projects-all {
        width: calc(100vw - 60px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .projects .project-scroll {
        width: calc(100vw - 60px);
        max-height: 60vh;
        overflow-x: hidden;
    }
    .projects .project .project-visit {
        padding: 0px 30px;
    }
    .row {
        overflow-x: auto;
    }
    .skill-type {
        white-space: normal;
    }
    .skill-type-rate {
        white-space: nowrap;
    }
    .skill {
        width: fit-content;
        overflow-y: hidden;
        overflow-wrap: break-word;
    }
    .skill#version-control {
        grid-column: 6 / 7;
        grid-row: 1 / 6;
    }
    .skill#database {
        grid-column: 9 / 10;
        grid-row: 1 / 6;
    }
    .contact .text {
        width: calc(100vw - 60px);
        padding: calc(var(--triangle-height) + 30px) 30px;
        padding-bottom: 70px;
    }
    .contact .text .form {
        width: calc(100vw - 90px);
    }
    .contact .text .form * {
        width: calc(100vw - 90px);
    }
    .contact {
        height: calc(100vh + var(--triangle-height) * 1);
    }
    .contact .down {
        top: calc(100vh + 15px);
    }
    .contact .footer {
        left: 30px;
        bottom: 30px;
    }
}